name: CI

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build Implementation Guide
        run: |
          docker run \
            -v $(pwd):/home/publisher/ig \
            hl7fhir/ig-publisher-base \
            sh -c "sushi && \
            curl -L https://github.com/HL7/fhir-ig-publisher/raw/master/scripts/_updatePublisher.sh -o _updatePublisher.sh && \
            curl -L https://github.com/HL7/fhir-ig-publisher/raw/master/scripts/_genonce.sh -o _genonce.sh && \
            chmod +x _updatePublisher.sh _genonce.sh && \
            ./_updatePublisher.sh --yes && ./_genonce.sh"